.embed-spotify-song {
  width: 300px;
  height: 80px;
  position: relative;
  max-width: 100%;
}

.embed-spotify-song iframe, .embed-spotify object, .embed-spotify embed {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 0;
  left: 0;
  max-width: 100%;
}

.embed-spotify-list {
  width: 300px;
  height: 310px;
  position: relative;
  max-width: 100%;
}

.embed-spotify-list iframe, .embed-spotify object, .embed-spotify embed {
  position: absolute;
  width: 300px;
  height: 310px;
  top: 0;
  left: 0;
  max-width: 100%;
}
